<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% upload.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col">  
    <div class="row mt-2">
      <div class="field">
        <%= form.label :Ano %>
        <%= form.number_field :year, :required => true %>
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="field">
        <%= form.file_field :csv_file %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
